# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production build artifacts
build

# Misc
.DS_Store
*.pem

# Local environment and secrets (CRITICAL: Do not upload to GitHub)
.env*.local
.env
.local-db.json

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
